.tool-image {
    border: 5px solid transparent;
    border-radius: 0%;
    height: 100px;
}

.tools {
    align-items: center;
}

input:checked + .tool-image {
    border: 5px solid lightblue;
}

[type=radio] {
    display: none;
}

body {
    background-color: rgb(200, 218, 180);
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    align: center;
}
/* .list {
    text-align: left;
} */