.tool-image {
    border: 5px solid transparent;
    border-radius: 0%;
    height: 100px;
}

.tools {
    align-items: center;
}

.tool-image {
    border: 5px solid transparent;
    border-radius: 0%
    width: 50px;
}

input:checked + .tool-image {
    border: 5px solid lightblue;
}

[type=radio] {
    display: none;
}

/* body {
    background-color: rgb(180, 218, 216);
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: left;
} */


